.nav {
  background: #fff;
  margin: 10px 0;
}
.nav-name {
  color: #ff284f !important;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.brand-name {
  margin-left: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
}
.nav-option {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}
.nav-option2 {
  margin-left: 20px;
}
.nav-option:hover {
  color: white;
  background: #ff284f;
}
.nav-option span {
  margin-left: 5px;
}
.toggle {
  display: none;
}
.mobile-nav{
  display: none;
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 1023px) {
  .nav{
    display: none;
  }
  .mobile-nav{
    display: block;
    width: 100%;
  }
  .toggle {
    display: block;
  }
  .nav-link{
    flex-direction: column;
  }
  .nav-option2 {
    margin-left: 0px;
  }
}

@media (min-width: 1400px) {
}
